:root {
    box-sizing: border-box;
    color-scheme: dark;
}

*,
::before,
::after {
    box-sizing: inherit;
}

svg {
    width: 1rem;
    height: 1rem;
    stroke: var(--text-muted, currentColor);
}

.card {
    background-color: var(--background);
    padding: 1rem;
    border-radius: 6px;
}

.stack {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.stack.no-gap {
    gap: 0;
}

.avatar {
    --size: 3rem;
    display: block;
    width: var(--size);
    height: var(--size);
    object-fit: cover;
    border-radius: 50%;
}

.initials {
    --size: 3rem;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: var(--links, white);
    font-size: 1.25rem;
    text-transform: uppercase;
    position: relative;
}

.initials::after {
    content: attr(data-initials);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: var(--size);
    text-align: center;
    z-index: 2;
    color: var(--text-bright, black);
}

.big-avatar-wrapper * {
    --size: 7rem;
    font-size: 2.5rem;
}

.btn-group {
    display: flex;
    gap: 1px;
}

.btn-group button,
.btn-group a.btn {
    margin: 0;
}

.btn-group button:not(:first-of-type):not(:last-of-type),
.btn-group a.btn:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
}

.btn-group button:first-of-type,
.btn-group a.btn:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group button:last-of-type,
.btn-group a.btn:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn {
    cursor: pointer;

    color: var(--form-text);
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;

    background-color: var(--button-base);
    padding-right: 30px;
    padding-left: 30px;
}

a.btn:hover {
    background: var(--button-hover);
}

a.btn:focus {
    box-shadow: 0 0 0 2px var(--focus);
}

a.btn:active {
    transform: translateY(2px);
}

.btn-group .btn[aria-current="page"] {
    text-decoration: underline;
}

#avatar_preview {
    display: block;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
}

.menu {
    position: relative;
}

.menu-toggle {
    display: none !important;
}

.menu-trigger {
    user-select: none;
    touch-action: manipulation;

    -webkit-user-select: none;
}

.menu-toggle:checked~.menu-trigger::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.menu-toggle:not(:checked)~.menu-dropdown {
    display: none;
}

.menu-toggle:checked~.menu-dropdown {
    position: absolute;
    top: 100%;
    background-color: var(--background);
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, .2);
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 6px;
}
