<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="dark" />
        <title>Nakama</title>
        <link rel="shortcut icon" href="data:," />
        <link rel="preconnect" href="https://rsms.me/" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <link rel="preconnect" href="https://fonts.bunny.net" />
        <link rel="stylesheet" href="https://fonts.bunny.net/css?family=nunito:700" />
        <link rel="stylesheet" href="/static/styles.css" />
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"> -->

        <style>
            :root {
                color-scheme: dark;
            }

            :root {
                font-family: Inter, sans-serif;
                font-feature-settings:
                    "liga" 1,
                    "calt" 1;
            }

            @supports (font-variation-settings: normal) {
                :root {
                    font-family: InterVariable, sans-serif;
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            button,
            a strong {
                font-family: "Nunito", sans-serif;
            }
        </style>
    </head>
    <body>
        {{with .Session.FlashError}}
        <div class="flash error">{{.}}</div>
        {{end}} {{template "header.tmpl" .}}
        <div>{{block "content" .}}{{end}}</div>
    </body>

    <script>
        const flashes = document.querySelectorAll(".flash");
        for (const flash of flashes) {
            setTimeout(() => {
                flash.style.opacity = 0;
                setTimeout(() => {
                    flash.remove();
                }, 500);
            }, 5000);
        }
    </script>
</html>
