{{template "layout.tmpl" .}}

{{define "content"}}
<main>
    <h1>Home</h1>

    {{if .Session.IsLoggedIn}}
    <p>Welcome back, {{.Session.User.Username}}.</p>
    <form action="/logout" method="POST" style="display: contents;">
        <button>Logout</button>
    </form>
    {{else}}
    <p>You are not logged in.</p>
    <a href="/login">Login</a>
    {{end}}

    {{if .Session.IsLoggedIn}}
    <form action="/posts" method="POST">
        <textarea name="content" aria-label="content" placeholder="Write something..."
            required>{{.CreatePostForm.Get "content"}}</textarea>

        {{with .CreatePostErr}}
        <p>Could not create post: <code>{{.Error}}</code></p>
        {{end}}

        <button>Post</button>
    </form>
    {{end}}
</main>
{{end}}
