{{template "layout.tmpl" .}}

{{define "content"}}
<main>
    <h1>Home</h1>

    {{if .Session.IsLoggedIn}}
    <form action="/posts" method="POST">
        <textarea name="content" aria-label="content" placeholder="Write something..." rows="3" maxlength="1000"
            required>
            {{- .CreatePostForm.Get "content" -}}
        </textarea>

        {{if .CreatePostErr}}
        <p>Could not create post: <code>{{.CreatePostErr}}</code></p>
        {{end}}

        <button>Post</button>
    </form>

    <br>
    {{end}}


    {{if eq (len .Timeline) 0}}
    <p>No posts yet.</p>
    {{else}}
    <section style="display: flex; flex-direction: column; gap: 1rem;">
        {{range .Timeline}}
        {{template "post-item.tmpl" .}}
        {{end}}
    </section>
    {{end}}
</main>
{{end}}
