{{template "layout.tmpl" .}}

{{define "content"}}
<main>
    <h1>Home</h1>

    {{if .Session.IsLoggedIn}}
    <form action="/posts" method="POST">
        <textarea name="content" aria-label="content" placeholder="Write something..." rows="3" maxlength="1000"
            required>
            {{- .CreatePostForm.Get "content" -}}
        </textarea>

        {{if .CreatePostErr}}
        <p>Could not create post: <code>{{.CreatePostErr}}</code></p>
        {{end}}

        <button class="v-stack">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
            </svg>
            <span>Post</span>
        </button>
    </form>

    <br>
    {{end}}

    {{if .Session.IsLoggedIn}}
    <div class="v-stack">
        <div class="btn-group" style="margin-bottom: 1rem; margin-left: auto">
            <a href="/" class="btn" aria-current='{{if ne .Mode "global"}}page{{else}}false{{end}}'>
                Following
            </a>
            <a href="/?mode=global" class="btn" aria-current='{{if eq .Mode "global"}}page{{else}}false{{end}}'>
                Global
            </a>
        </div>
    </div>
    {{end}}

    {{if eq (len .Posts) 0}}
    <p>No posts yet.</p>
    {{else}}
    <section style="display: flex; flex-direction: column; gap: 1rem;">
        {{range .Posts}}
        {{template "post.tmpl" (dict "Post" .)}}
        {{end}}
    </section>
    {{end}}
</main>
{{end}}
