{{template "layout.tmpl" .}}

{{define "content"}}
<main>
    <h1>Login</h1>

    <form action="/login" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="uwu@example.org" value='{{.Form.Get "email"}}'
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
        </div>

        {{with .Err}}
        {{if or (eq .Error "user not found") (eq .Error "username taken") (eq .Error "invalid username")}}
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="uwu" value='{{$.Form.Get "username"}}'
                autocomplete="off" pattern="^[a-zA-Z0-9][a-zA-Z0-9_-]{0,17}$" maxlength="18" required>
        </div>
        {{end}}
        {{end}}

        {{with .Err}}
        <p>Could not login: <code>{{.Error}}</code></p>
        {{end}}

        <button>Login</button>
    </form>
</main>
{{end}}
