{{template "layout.tmpl" .}}

{{define "content"}}
<main>
    <h1>Login</h1>

    <form action="/login" method="POST">
        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="uwu@example.org" value='{{.Form.Get "email"}}'
                pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" required>
        </div>

        {{if and .Err (or (eq .Err "user not found") (eq .Err "username taken") (eq .Err "invalid username"))}}
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="uwu" value='{{$.Form.Get "username"}}'
                autocomplete="off" pattern="^[a-zA-Z0-9][a-zA-Z0-9_-]{0,17}$" maxlength="18" required>
        </div>
        {{end}}

        {{if .Err}}
        <p>Could not login: <code>{{.Err}}</code></p>
        {{end}}

        <button class="v-stack">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            <span>Login</span>
        </button>
    </form>
</main>
{{end}}
