{{template "layout.tmpl" .}}

{{define "head"}}
<script src="/thumbhash.js" type="module"></script>
{{end}}

{{define "content"}}
<main>
    <h1>Home</h1>

    {{if .Session.IsLoggedIn}}
    {{template "post-form.tmpl" .}}
    <br>
    {{end}}

    {{if .Session.IsLoggedIn}}
    {{template "posts-params.tmpl" .}}
    {{end}}

    {{if eq (len .Posts) 0}}
    <p>No posts yet.</p>
    {{else}}
    <section style="display: flex; flex-direction: column; gap: 1rem;">
        {{range .Posts}}
        {{template "post.tmpl" (dict "Session" $.Session "Post" .)}}
        {{end}}
    </section>
    {{end}}
</main>
{{end}}
