{{template "layout.tmpl" .}}

{{define "content"}}
<main>
    {{template "post.tmpl" (dict "Session" .Session "Post" .Post)}}

    <h2>Comments</h2>

    {{if eq (len .Comments) 0}}
    <p>No comments yet.</p>
    {{else}}
    <section style="display: flex; flex-direction: column; gap: 1rem;">
        {{range .Comments}}
        {{template "comment.tmpl" (dict "Session" $.Session "Comment" .)}}
        {{end}}
    </section>
    {{end}}

    {{if .Session.IsLoggedIn}}
    <br>
    {{template "comment-form.tmpl" .}}
    {{end}}
</main>
{{end}}
