<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nakama | Refreshing...</title>
    <script>
        window.location.replace("{{ . }}")
    </script>
    <meta http-equiv="refresh" content="0; url={{ . }}" />
</head>
<body></body>
</html>
