{{template "layout.tmpl" .}}

{{define "content"}}
<main>
    <h1>{{.User.Username}}</h1>

    <dl>
        <dt>Following</dt>
        <dd>{{.User.FollowingCount}}</dd>

        <dt>Followers</dt>
        <dd>{{.User.FollowersCount}}</dd>
    </dl>

    {{if and .Session.IsLoggedIn (ne .Session.User.ID .User.ID)}}
    <form action="/user-follows" method="POST">
        <input type="hidden" name="user_id" value="{{.User.ID}}">

        {{if .User.Following}}
        <input type="hidden" name="_method" value="DELETE">
        {{end}}

        {{if .UserFollowErr}}
        <p>Could not follow user: <code>{{.UserFollowErr}}</code></p>
        {{end}}

        <button aria-pressed="{{.User.Following}}"
            title="{{if .User.Following}}Stop following {{.User.Username}}{{else}}Follow {{.User.Username}}{{end}}"
            aria-label="{{if .User.Following}}Stop following {{.User.Username}}{{else}}Follow {{.User.Username}}{{end}}">
            {{- if .User.Following}}Following{{else}}Follow{{end -}}
        </button>
    </form>
    {{end}}

    <hr>

    <h2>{{.User.PostsCount}} Posts</h2>
    {{if eq (len .Posts) 0}}
    <p>No posts.</p>
    {{else}}
    <section style="display: flex; flex-direction: column; gap: 1rem;">
        {{range .Posts}}
        {{template "post.tmpl" .}}
        {{end}}
    </section>
    {{end}}
</main>
{{end}}
