<article class="card">
    <div class="h-stack">
        <a href="/@{{.Username}}" style="text-decoration: none; color: inherit;" class="h-stack">
            <picture class="initials smaller" data-initials='{{printf "%.1s" .Username }}'></picture>
            <b>{{.Username}}</b>
        </a>
        <div class="h-stack no-gap" style="margin-left: auto">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <small>
                <time-ago>
                    <time datetime='{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}'>
                        {{- .CreatedAt.Format "02 Jan 06 15:04 MST" -}}
                    </time>
                </time-ago>
            </small>
        </div>
    </div>

    {{/* linkify transforms urls into anchor tags */}}
    <p style="white-space: pre-line; margin-bottom: 0;">{{linkify .Content}}</p>
</article>

{{define "head"}}
<script src="/time-ago.js" defer></script>
{{end}}
