<header>
    <nav style="display: flex; align-items: center; gap: 1rem;">
        <a href="/">Home</a>
        {{if .Session.IsLoggedIn}}
        <a href="/@{{.Session.User.Username}}">{{.Session.User.Username}}</a>
        <form action="/logout" method="POST" style="display: contents;">
            <button>Logout</button>
        </form>
        {{else}}
        <a href="/login">Login</a>
        {{end}}
    </nav>
</header>

<hr>
