<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <title>Nakama</title>
    <meta name="description" content="The next social network for anime fans.">
    <link rel="shortcut icon" href="data:,">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2.1.1/out/water.css">
    {{block "head" .}}{{end}}
</head>
<body>
    {{template "header.tmpl" .}}
    {{template "content" .}}
</body>
</html>
