<article>
    <div>
        <a href="#!" style="text-decoration: none;">
            <h2 style="display: inline;">{{.Username}}</h2>
        </a>
        <a href="/p/{{.ID}}" style="text-decoration: none;">
            <time-ago>
                <time datetime='{{.CreatedAt.Format "2006-01-02T15:04:05Z07:00"}}'>
                    {{- .CreatedAt.Format "02 Jan 06 15:04 MST" -}}
                </time>
            </time-ago>
        </a>
    </div>

    {{/* linkify transforms urls into anchor tags */}}
    <p style="white-space: pre-line;">{{linkify .Content}}</p>

    <div>
        <a href="/p/{{.ID}}" style="text-decoration: none; color: inherit;" title="{{.CommentsCount}} comments"
            aria-label="{{.CommentsCount}} comments">{{.CommentsCount}} 💬</a>
    </div>
</article>

{{define "head"}}
<script src="/time-ago.js" async></script>
{{end}}
