{{if .Session.IsLoggedIn}}
{{range .ReactionsCount}}
<form action="{{$.Action}}" method="POST">
    {{if .Reacted}}
    <input type="hidden" name="_method" value="DELETE">
    {{end}}
    <input type="hidden" name="reaction" value="{{.Reaction}}">
    <button class="{{if .Reacted}}reacted{{end}}">
        <div class="stack">
            <span>{{.Reaction}}</span>
            <span class="muted">{{.Count}}</span>
        </div>
    </button>
</form>
{{end}}
{{else}}
{{range .ReactionsCount}}
<div class="btn stack">
    <span>{{.Reaction}}</span>
    <span class="muted">{{.Count}}</span>
</div>
{{end}}
{{end}}
