:root {
    box-sizing: border-box;

    --hue: 220;
    --background: black;
    --primary: hsl(var(--hue), 100%, 86%);
    --secondary: hsl(calc(var(--hue) + 180), 100%, 86%);
    --surface-0: hsl(var(--hue), 10%, 7%);
    --surface-1: hsl(var(--hue), 10%, 9%);
    --surface-2: hsl(var(--hue), 10%, 11%);
    --surface-primary: hsl(var(--hue), 20%, 20%);
    --on-background: white;
    --on-surface: white;
    --on-primary: black;
    --on-secondary: black;
    --hint: hsl(var(--hue), 2%, 60%);
    --line: hsla(var(--hue), 2%, 14%, .6);
    --icon: hsl(var(--hue), 2%, 60%);
    --box-shadow: 0 1px 2px rgba(0,0,0,0.07),
                  0 2px 4px rgba(0,0,0,0.07),
                  0 4px 8px rgba(0,0,0,0.07),
                  0 8px 16px rgba(0,0,0,0.07),
                  0 16px 32px rgba(0,0,0,0.07),
                  0 32px 64px rgba(0,0,0,0.07);

    --surface-alt: white;
    --on-surface-alt: black;
    --surface-backdrop: hsla(var(--hue), 10%, 0%, .95);
    --semi-transparent-surface: hsla(var(--hue), 10%, 7%, .75);
    --on-surface-error: hsl(345, 100%, 67%);
    --font: sans-serif;
}

dialog *,
.post *,
.user-profile *,
.notification:not(.read) *,
.user-item *,
.queue-btn,
.textcomplete-dropdown {
    --surface-0: hsl(var(--hue), 12%, 10%);
    --surface-1: hsl(var(--hue), 12%, 12%);
    --surface-2: hsl(var(--hue), 12%, 14%);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --primary: hsl(var(--hue), 100%, 66%);
        --secondary: hsl(calc(var(--hue) + 180), 100%, 66%);
        --surface-0: hsl(var(--hue), 10%, 93%);
        --surface-1: hsl(var(--hue), 10%, 91%);
        --surface-2: hsl(var(--hue), 10%, 89%);
        --surface-primary: hsl(var(--hue), 20%, 80%);
        --on-background: black;
        --on-surface: black;
        --on-primary: white;
        --on-secondary: white;
        --hint: hsl(var(--hue), 2%, 40%);
        --line: hsla(var(--hue), 2%, 86%, .6);
        --icon: hsl(var(--hue), 2%, 40%);

        --surface-alt: black;
        --on-surface-alt: white;
        --surface-backdrop:  hsl(var(--hue), 10%, 100%, .95);
        --semi-transparent-surface: hsla(var(--hue), 10%, 93%, .75);
        --on-surface-error: hsl(345, 100%, 67%);
    }

    dialog *,
    .post *,
    .user-profile *,
    .notification:not(.read) *,
    .user-item *,
    .queue-btn,
    .textcomplete-dropdown {
        --surface-0: hsl(var(--hue), 12%, 90%);
        --surface-1: hsl(var(--hue), 12%, 88%);
        --surface-2: hsl(var(--hue), 12%, 86%);
    }
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font);
    font-size: 16px;
    background-color: var(--background);
    color: var(--on-background);
    padding-bottom: 4rem;
}

@media screen and (max-width: 414px) {
    body {
        padding-bottom: 8rem;
    }
}

[hidden] {
    display: none !important;
}

guarded-view,
router-view,
nakama-app,
access-callback-page,
login-form,
app-header,
home-page,
post-form,
intersectable-comp,
notifications-page,
notification-item,
post-item,
reaction-btn,
add-reaction-btn,
media-scroller,
zoomable-img,
post-page,
comment-form,
relative-datetime,
search-page,
search-form,
toast-item,
user-follow-btn,
user-follow-counts,
user-followees-page,
user-followers-page,
user-item,
user-page,
user-profile,
logout-btn {
    display: contents;
}

:focus:not(:focus-visible) {
    outline: none;
}

::selection {
    background-color: var(--primary);
    color: var(--on-primary);
}

.container {
    width: calc(100% - 4rem);
    max-width: 65ch;
    margin: 0 auto;
}

@media screen and (max-width: 568px) {
    .container {
        width: calc(100% - 2rem);
    }
}

button,
.btn {
    background-color: var(--surface-0);
    color: var(--on-surface);
    height: 3rem;
    padding: 0 1.5rem;
    border-radius: 1.5rem;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

button {
    border: none;
    font: inherit;
    user-select: none;
    touch-action: manipulation;
}

.btn {
    text-decoration: none;
}

button[type="reset"] {
    color: var(--hint);
    background-color: transparent;
    border: 3px solid var(--surface-0);
}

button:hover,
.btn:hover {
    background-color: var(--surface-1);
}

button:active,
.btn:active {
    background-color: var(--surface-2);
}

button[type="reset"]:hover {
    border-color: var(--surface-1);
}

button[type="reset"]:active {
    border-color: var(--surface-2);
}

button[disabled] {
    cursor: not-allowed;
    filter: grayscale(7%) brightness(80%);
}

button[aria-busy="true"] {
    cursor: progress;
}

a {
    color: var(--primary);
}

p {
    word-break: break-word;
}

audio,
video,
img {
    max-width: 100%;
}

svg {
    overflow: hidden;
}

button svg,
a svg {
    display: block;
    width: 1rem;
    height: 1rem;
    fill: var(--icon);
}

pre {
    overflow-x: auto;
}

pre {
    scrollbar-width: none;
}

pre::-webkit-scrollbar {
    display: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
textarea {
    font: inherit;
    color: inherit;
    background-color: var(--surface-0);
    border: 0;
    border-radius: 1.5rem;
    padding: 0 1.5rem;
    height: 3rem;
}

textarea {
    width: 100%;
    padding: .875rem 1.5rem;
    min-height: 3rem;
    max-height: 75vh;
    resize: vertical;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="search"]:hover,
textarea:hover {
    background-color: var(--surface-1);
}

input[type="text"]:active,
input[type="email"]:active,
input[type="search"]:active,
textarea:active {
    background-color: var(--surface-2);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
    outline: none;
    background-color: var(--surface-alt);
    color: var(--on-surface-alt);
}

@media (prefers-color-scheme: light) {
    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="search"]:focus,
    textarea:focus {
        outline: none;
        background-color: var(--surface-2);
        color: inherit;
        box-shadow: inset 0 0 0 3px var(--surface-primary);
    }
}

dialog {
    color: var(--on-background);
    font: var(--font);
    background-color: var(--surface-0);
    border-radius: 1rem;
    border: none;
    box-shadow: var(--box-shadow);
}

::backdrop {
    background-color: var(--surface-backdrop);
    backdrop-filter: blur(3px);
}

dialog + .backdrop {
    background-color: var(--surface-backdrop);
    backdrop-filter: blur(3px);
}

.switch-wrapper {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    height: 3rem;
    user-select: none;
    touch-action: manipulation;
}

input[role="switch"] {
    appearance: none;
    position: relative;
    width: 2.5rem;
    height: 1rem;
    background-color: var(--surface-0);
    border-radius: .5rem;
}

input[role="switch"]:hover {
    background-color: var(--surface-1);
}

input[role="switch"]:checked {
    background-color: var(--primary);
}

input[role="switch"]::before {
    content: "";
    display: block;
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .75rem;
    background-color: var(--hint);

    will-change: transform;
    transition: transform 200ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

input[role="switch"]:checked::before {
    background-color: var(--on-surface);
    transform: translateX(100%);
}

@media (prefers-color-scheme: light) {
    input[role="switch"]::before {
        background-color: var(--surface-0);
        box-shadow: var(--box-shadow);
    }

    input[role="switch"]:checked::before {
        background-color: white;
    }
}

.error {
    color: var(--on-surface-error);
}

.avatar {
    width: 3rem;
    height: 3rem;
    background-color: var(--background);
    border-radius: 50%;
}

.avatar[data-initial] {
    display: block;
    position: relative;
    background-color: var(--primary);
}

.avatar[data-initial]::after {
    content: attr(data-initial);
    text-transform: uppercase;
    color: var(--on-primary);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.avatar.big[data-initial]::after {
    font-size: 1.75rem;
}

time {
    font-size: .75rem;
    color: var(--hint);
}

.emoji-picker-wrapper {
    position: relative;
}

emoji-picker {
    --background: var(--surface-0);
    --border-color: var(--line);
    --button-hover-background: var(--surface-1);
    --button-active-background: var(--surface-2);
    --emoji-size: 1.25rem;
    --indicator-color: var(--primary);
    --input-border-color: transparent;
    --input-border-radius: 1.5rem;
    --input-font-color: var(--on-surface);
    --outline-color: var(--primary);

    --emoji-picker-border-radius: 1rem !important;
    --emoji-picker-border-top-left-radius: .25rem !important;
    --emoji-picker-border-bottom-left-radius: 1rem !important;
    --emoji-picker-border-bottom-right-radius: 1rem !important;
    --emoji-picker-border: none !important;
    --emoji-picker-input-background-color: var(--surface-1) !important;
    --emoji-picker-input-border: none !important;
    --emoji-picker-input-height: 3rem;
    --emoji-picker-input-padding: 0 1.5rem;


    position: absolute;
    top: 3.5rem;
    left: 0;
    z-index: 1;
    box-shadow: var(--box-shadow);

    will-change: opacity, transform;
    animation: fadedown 200ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@media screen and (max-width: 414px) {
    emoji-picker {
        --emoji-picker-border-top-left-radius: 1rem !important;
        --emoji-picker-border-bottom-left-radius: 0 !important;
        --emoji-picker-border-bottom-right-radius: 0 !important;
        position: fixed;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        max-height: calc(100vh - 8rem);
    }

    .post-add-reaction-btn[aria-expanded="true"] {
        border-bottom-left-radius: 1.5rem;
    }
}

emoji-picker.disabled {
    user-select: none;
    cursor: not-allowed !important;
    filter: grayscale(7%) brightness(80%);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: var(--surface-backdrop);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(3px);
    z-index: 1;

    display: grid;
    align-items: center;
}

@media screen and (max-width: 414px) {
    header {
        position: fixed;
        top: unset;
        bottom: 0;
    }
}

header svg {
    width: 1.25rem;
    height: 1.25rem;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: left; */
    gap: .5rem;
}

header a.has-unread-notifications {
    position: relative;
}

header a.has-unread-notifications::after {
    content: "";
    position: absolute;
    bottom: .5rem;
    right: 1rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--primary);
}

header nav ul .btn {
    background-color: transparent;
}

header [aria-current="page"] svg {
    fill: var(--on-surface);
}

header .profile-link-item {
    margin-left: auto
}

header .profile-link {
    padding: 0;
}

.loader {
    opacity: 0;
    animation: fadein 200ms linear 140ms forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.access-form {
    display: grid;
    grid-auto-flow: row;
    justify-items: left;
    gap: .5rem;
    max-width: 40ch;
    margin-bottom: 1rem;
}

.access-form input {
    width: 100%;
}

.oauth-providers {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
    justify-content: left;
}

.access-help {
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.access-help p {
    margin: 0;
    color: var(--hint);
}

.access-page h3 {
    font-weight: normal;
    margin-top: 0;
    margin-bottom: .5rem;
}

.home-page {
    margin: 1rem auto;
    padding-bottom: 3rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.home-page h1 {
    margin: 0;
}

.post-form {
    display: grid;
    grid-auto-flow: row;
    gap: .5rem;
}

.post-form.has-content textarea {
    border-bottom-right-radius: .25rem;
}

.post-form-controls {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: right;
}

.post-form-options {
    display: grid;
    grid-auto-flow: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: right;
}

.post-form button {
    border-top-right-radius: .25rem;
}

.spoiler-of-form {
    display: grid;
    grid-auto-flow: row;
    gap: .5rem;
    padding: 2rem;
}

.spoiler-of-controls {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
    justify-content: right;
}

@media screen and (max-width: 414px) {
    .post-form-controls {
        gap: .5rem;
        justify-content: space-between;
    }

    .post-form-options {
        grid-auto-flow: row;
        gap: .5rem;
        justify-items: left;
        justify-self: left;
    }
}

.tabbed-posts {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

[role="tablist"] {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: .5rem;
}

[role="tablist"] button {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
}

[role="tablist"] button[aria-selected="true"] {
    background-color: var(--primary);
    color: var(--on-primary);
}

[role="tablist"] button[aria-selected="true"] svg {
    fill: var(--on-primary);
}

[aria-haspopup="true"]:not([aria-expanded="true"]) ~ [role="menu"] {
    display: none;
}

.posts {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.post {
    background-color: var(--surface-0);
    padding: 1rem;
    border-radius: 1rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.post-header {
    display: grid;
    grid-auto-flow: column;
    align-items: top;
    justify-content: space-between;
}

.post-author {
    text-decoration: none;
    color: inherit;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: .5rem;
}

.post-author .username {
    word-break: break-all;
}

.post-meta {
    display: grid;
    grid-auto-flow: column;
    align-items: top;
    justify-content: right;
    gap: .5rem;
}

.post-ts {
    text-decoration: none;
    height: 3rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.post-menu-wrapper {
    position: relative;
}

.post-menu-wrapper-btn {
    padding: 0 1rem;
}

.post-menu-wrapper-btn[aria-expanded="true"] {
    border-bottom-right-radius: .25rem;
}

.post-menu {
    display: grid;
    grid-auto-flow: row;
    justify-content: left;

    position: absolute;
    top: 3.5rem;
    right: 0;
    z-index: 1;
    overflow: hidden;

    list-style: none;
    padding: 0;
    margin: 0;

    background-color: var(--surface-0);
    border-radius: 1.5rem;
    border-top-right-radius: .25rem;
    box-shadow: var(--box-shadow);

    will-change: opacity, transform;
    animation: fadedown 200ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@keyframes fadedown {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.post-menu-btn {
    background-color: transparent;
    width: 100%;
    white-space: nowrap;
    justify-content: left;
    border-radius: 0;
}

.post-menu-item {
    display: block;
    width: 100%;
}

.post-content {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.post-content p {
    white-space: pre-line;
    margin: 0;
}

.post-warning {
    background-color: var(--surface-primary);
    border-radius: 1rem;
    padding: 1rem 1rem .5rem 1rem;
    border: 3px dashed var(--primary);
}

.post-warning p {
    margin-bottom: 1rem;
}

.media-scroller {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;

    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;

    overflow-x: auto;

    scroll-snap-type: inline mandatory;
}

.media-scroller {
    scrollbar-width: none;
}

.media-scroller::-webkit-scrollbar {
    display: none;
}

.media-scroller li {
    display: contents;
}

.media-scroller img,
.media-scroller audio,
.media-scroller video,
.media-scroller iframe {
    flex: 0 0 auto;
    display: block;
    height: min-content;
    max-height: calc(100vh - 8rem);
    background-color: var(--background);
    border-radius: 1rem;
    overflow: hidden;
}

.media-scroller[data-length="1"] img,
.media-scroller[data-length="1"] audio,
.media-scroller[data-length="1"] video,
.media-scroller[data-length="1"] iframe {
    max-width: 100%;
}

.media-scroller[data-length="2"] img,
.media-scroller[data-length="2"] audio,
.media-scroller[data-length="2"] video,
.media-scroller[data-length="2"] iframe {
    max-width: calc(50% - .25rem);
}

.media-scroller:not([data-length="1"]):not([data-length="2"]) img,
.media-scroller:not([data-length="1"]):not([data-length="2"]) audio,
.media-scroller:not([data-length="1"]):not([data-length="2"]) video,
.media-scroller:not([data-length="1"]):not([data-length="2"]) iframe {
    max-width: calc(calc(100% / 2.1) - .5rem);
}

.media-scroller[data-length="1"] iframe,
.media-scroller[data-length="1"] audio {
    width: 100%;
}

.media-scroller audio {
    min-width: calc(100% / 1.1);
}

.media-scroller video,
.media-scroller iframe {
    aspect-ratio: 16/9;
}

.medium-zoom-overlay {
    background-color: rgba(0, 0, 0, .95) !important;
    z-index: 2;
}

.medium-zoom--opened .medium-zoom-image {
    z-index: 3;
}

.post-footer {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    justify-content: left;
    gap: .5rem;
}

.post-reactions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: left;
    gap: .5rem;
}

.post-add-reaction-btn,
.post-reaction {
    padding: 0 1rem;
}

.post-add-reaction-btn[aria-expanded="true"] {
    border-bottom-left-radius: .25rem;
}

.post-reaction {
    gap: .25rem;
    color: var(--hint);
}

.post-reaction.reacted {
    background-color: var(--surface-primary);
    color: var(--on-surface);
}

.post-wrapper {
    background-color: var(--surface-0);
}

.post-wrapper .loader {
    padding: 2rem 0;
}

.post-wrapper .post {
    padding: 2rem 0;
}

comments-list .post {
    background-color: transparent;
    padding: 1rem 0;
}

.comments-wrapper {
    margin-top: 3rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.comments-wrapper h2 {
    margin: 0;
}

.comments {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.comment-form {
    display: grid;
    grid-auto-flow: row;
    justify-items: right;
    gap: .5rem;
}

.comment-form.has-content textarea {
    border-bottom-right-radius: .25rem;
}

.comment-form button {
    border-top-right-radius: .25rem;
}

.user-profile-wrapper {
    padding: 2rem 0;
    background-color: var(--surface-0);
}

.user-profile-wrapper[style] {
    background-image: var(--cover-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--semi-transparent-surface);
    background-blend-mode: overlay;
}

.user-profile-wrapper[style] .user-profile button {
    box-shadow: var(--box-shadow);
}

.user-profile-wrapper[style] h1,
.user-profile-wrapper[style] .user-counts a {
    text-shadow: 0 0 3px rgba(0, 0, 0, .9);
}

.user-profile {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    min-height: 7rem;
}

@media screen and (max-width: 414px) {
    .user-profile {
        min-height: 8.75rem;
    }
}

.user-profile h1 {
    font-size: 3rem;
    margin: 0;
    word-break: break-all;
}

.user-counts {
    flex-grow: 1;
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: .5rem;
}

.user-counts a {
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}

label,
.label {
    color: var(--hint);
}

.user-profile .avatar {
    width: 7rem;
    height: 7rem;
    font-size: 1.75rem;

    position: absolute;
    bottom: -5.5rem;
    box-shadow: var(--box-shadow);
}

.user-controls {
    align-self: flex-end;
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
}

@media screen and (max-width: 414px) {
    .user-controls {
        grid-auto-flow: row;
    }
}

.posts-wrapper {
    margin-top: 3.5rem;
    padding-top: 1rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.user-page .posts-wrapper h2 {
    margin: 0;
}

.notifications-page {
    margin: 1rem auto;
    margin-bottom: 3rem;
    display: grid;
    grid-auto-flow: row;
    gap: .5rem;
}

.notifications-heading {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 414px) {
    .notifications-heading {
        grid-auto-flow: row;
        align-items: unset;
        justify-items: left;
    }
}

.notifications-page h1 {
    margin: 0;
}

.notifications {
    display: grid;
    grid-auto-flow: row;
    gap: .5rem;
}

.notifications-controls {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
}

@media screen and (min-width: 414px) and (max-width: 600px) {
    .notifications-controls {
        grid-auto-flow: row;
    }
}

.notification {
    background-color: var(--surface-0);
    color: var(--on-surface);
    padding: .5rem .5rem .5rem 1.5rem;
    border-radius: 1rem;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: .5rem

}

notification-item[read] .notification {
    min-height: 4rem;
    padding: .875rem 0;
    color: var(--hint);
    background-color: transparent;
}

notification-item[read] .notification p {
    text-decoration: line-through;
}

notification-item[read] .notification a {
    color: inherit;
    text-decoration: none;
}

notification-item[read] + notification-item[read] .notification {
    position: relative;
}

notification-item[read] + notification-item[read] .notification::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--line);
}

.notification p {
    margin: 0;
}

.search-page {
    margin: 1rem auto;
    margin-bottom: 3rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.search-page h1 {
    margin: 0;
}

.users {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.user-item {
    padding: 1rem;
    background-color: var(--surface-0);
    border-radius: 1rem;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: .5rem
}

.user-item[style] {
    background-image: var(--cover-url);
    background-image: linear-gradient(to top right, black, transparent), var(--cover-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--semi-transparent-surface);
    background-blend-mode: overlay;
}

.user-item[style] .username,
.user-item[style] .user-counts a {
    text-shadow: 0 0 3px rgba(0, 0, 0, .9);
}

.user-item[style] button {
    box-shadow: var(--box-shadow);
}

.user-item .username {
    word-break: break-all;
}

.user-item a {
    color: inherit;
    text-decoration: none;
}

.user-item .user-text {
    display: grid;
    grid-auto-flow: row;
    gap: .5rem;
}

.user-item .user-info {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem
}

@media screen and (max-width: 414px) {
    .user-item .user-counts {
        grid-auto-flow: row;
    }
}

.queue-btn {
    position: fixed;
    z-index: 1;
    top: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: var(--box-shadow);
}

.followees-page,
.followers-page {
    margin: 1rem auto;
    margin-bottom: 3rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.followees-page h1,
.followers-page h1 {
    margin: 0;
    word-break: break-all;
}

/* post-item, */
user-item,
notification-item {
    content-visibility: auto;
}

.toast {
    position: fixed;
    z-index: 2;
    bottom: 1rem;
    right: 1rem;

    max-width: calc(100% - 2rem);
    min-height: 3rem;
    width: 36ch;
    padding: .5rem 1rem;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: .5rem;
    border-radius: .25rem;
    background-color: var(--surface-0);
    box-shadow: var(--box-shadow);
    animation: fadeleft 200ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

    user-select: none;
    touch-action: manipulation;
}

.toast {
    min-height: calc(3rem - 6px);
    background-color: var(--surface-0);
}

.toast p {
    margin: 0;
}

@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translateX(1rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.user-settings-dialog {
    width: calc(100% - 4rem);
    max-width: 65ch;
}

.user-settings {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.user-settings-header {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
    align-items: center;
    justify-content: space-between;
}

.user-settings .close-btn {
    padding-left: 1rem;
    padding-right: 1rem;
}

.user-settings h2 {
    margin: 0;
}

.user-settings .avatar {
    width: 7rem;
    height: 7rem;
    font-size: 1.75rem;
}

.username-fieldset,
.avatar-fieldset {
    border: 1px solid var(--line);
    padding: 1rem;
    border-radius: 1rem;
}

legend {
    font-size: .875rem;
    color: var(--hint);
    line-height: 0;
}

.username-grp {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: .5rem;
}

.username-grp input {
    width: 100%;
}

@media screen and (max-width: 414px) {
    .username-grp {
        grid-auto-flow: row;
        justify-content: left;
    }
}

.avatar-grp {
    display: grid;
    grid-auto-flow: row;
    justify-content: left;
    gap: .5rem;
}

.load-more-comments-btn {
    justify-self: center;
}

.textcomplete-dropdown {
    z-index: 1 !important;
    overflow: hidden;

    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: -1.5rem;

    background-color: var(--surface-0);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);

    will-change: opacity, transform;
    animation: fadedown 200ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.textcomplete-item {
    color: var(--on-surface);
    display: block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;

    width: 100%;

    width: 100%;
    white-space: nowrap;
    justify-content: left;
    border-radius: 0;

    cursor: default;
    touch-action: manipulation;
}

.textcomplete-item:hover {
    background-color: var(--surface-1);
}

.textcomplete-item.active {
    background-color: var(--primary);
    color: var(--on-primary);
}

.textcomplete-header,
.textcomplete-footer {
    display: none;
}

.username-form {
    display: grid;
    grid-auto-flow: row;
    justify-items: left;
    gap: .5rem;
}

.privacy-policy-page {
    font-family: serif;
}
