package templates

templ Login() {
    @layout() {
        <main>
            <h1>Login</h1>

            <div>
                <a href="/oauth2/github/redirect">Login with GitHub</a>
            </div>
        </main>
    }
}