{{template "layout.tmpl" .}}

{{define "content"}}
    <main class="container">
        <h1>Login</h1>

        <div>
            <a href="/oauth2/github/redirect">Login with GitHub</a>
        </div>
    </main>
{{end}}
