{{template "layout.tmpl" .}}

{{define "content"}}
    <main class="container">
        <h1>Welcome</h1>

        <p>
            Welcome to Nakama, the social network for anime fans!<br>
            Here you can share your favorite anime, manga, and games with other fans.
        </p>

        <p>
            <a href="/login">Log In</a>
        </p>
    </main>
{{end}}
