:root {
    --hue: 220;
    --background: hsl(var(--hue), 0%, 0%);
    --surface-0: hsl(var(--hue), 10%, 5%);
    --surface-1: hsl(var(--hue), 10%, 7%);
    --surface-2: hsl(var(--hue), 10%, 8%);
    --surface-3: hsl(var(--hue), 10%, 9%);
    --surface-4: hsl(var(--hue), 10%, 11%);
    --primary: hsl(var(--hue), 50%, 75%);
    --secondary: hsl(calc(var(--hue) + 180), 50%, 75%);
    --error: hsl(349, 52%, 61%);
    --on-background: hsl(var(--hue), 100%, 100%);
    --on-surface: hsl(var(--hue), 100%, 100%);
    --on-primary: hsl(var(--hue), 0%, 0%);
    --on-secondary: hsl(var(--hue), 0%, 0%);
    --on-error: hsl(var(--hue), 0%, 0%);

    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-family: sans-serif;
    margin: 0;
}

:focus:not(:focus-visible) {
    outline: none;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

[hidden] {
    display: none !important;
}

img {
    max-width: 100%;
    max-height: 100%;
}

main:empty {
    text-align: center;
    padding: 1.5rem;
    animation: pop 150ms linear;
}

main:empty::after {
    content: "Loading... please wait.";
}

@keyframes pop {
    0%, 99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    color: var(--primary);
}

button {
    background-color: var(--surface-1);
    color: var(--on-surface);
    font: inherit;
    height: 3rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 1.5rem;
    display: inline-flex;
    align-items: center;
    touch-action: manipulation;
    user-select: none;
}

button > * + * {
    margin-left: .5rem;
}

button:hover {
    background-color: var(--surface-2);
}

button:active {
    background-color: var(--surface-3);
}

input {
    background-color: var(--surface-1);
    color: var(--on-surface);
    height: 3rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 1.5rem;
}

input:hover {
    background-color: var(--surface-2);
}

input:focus {
    outline: none;
    background-color: var(--surface-3);
}

textarea {
    background-color: var(--surface-1);
    color: var(--on-surface);
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    max-height: 100vh;
    padding: .875rem 1.5rem;
    border: none;
    border-radius: 1.5rem;
    font: inherit;
    resize: vertical;
}

textarea::placeholder {
    color: var(--on-surface);
    opacity: .6;
}

textarea:hover {
    background-color: var(--surface-2)
}

textarea:focus {
    outline: none;
    background-color: var(--surface-3)
}

.icon {
    color: var(--on-surface);
    fill: var(--on-surface);
    width: 1.25rem;
    height: 1.25rem;
}

.container {
    margin: 0 auto;
    max-width: 65ch;
    width: 100%;
}

.card {
    background-color: var(--surface-0);
    padding: 1.5rem;
    border-radius: 1.5rem;
}

[role=feed] article {
    margin-top: 1rem;
}

.avatar {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.avatar[data-initial] {
    background-color: var(--secondary);
    color: var(--on-secondary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.avatar[data-initial]::after {
    content: attr(data-initial);
}
