:root {
    box-sizing: border-box;
    color-scheme: dark light;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

header {
    border-bottom: 1px solid #222;
    padding-bottom: 1rem;
}

main, .container {
    width: calc(100% - 4rem);
    max-width: 800px;
    margin: 0 auto;
}

textarea {
    border: 2px solid transparent;
    border-radius: .5rem;
    background-color: #111;
    padding: 1rem;
    font: inherit;
    color: inherit;
    min-height: 7rem;
    resize: vertical;
    width: 100%;

    &:focus {
        border-color: orange;
        outline: none;
    }
}

button {
    background-color: #111;
    color: white;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 0.5rem;
    font: inherit;
    color: inherit;

    &:hover {
        background-color: #222;
    }

    &:active {
        background-color: orange;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
}