:root {
    --hue: 220;
    --background: hsl(var(--hue), 0%, 0%);
    --surface-0: hsl(var(--hue), 10%, 5%);
    --surface-1: hsl(var(--hue), 10%, 7%);
    --surface-2: hsl(var(--hue), 10%, 8%);
    --surface-3: hsl(var(--hue), 10%, 9%);
    --primary: hsl(var(--hue), 50%, 75%);
    --secondary: hsl(calc(var(--hue) + 180), 50%, 75%);
    --error: hsl(349, 52%, 61%);
    --on-background: hsl(var(--hue), 100%, 100%);
    --on-surface: hsl(var(--hue), 100%, 100%);
    --on-primary: hsl(var(--hue), 0%, 0%);
    --on-secondary: hsl(var(--hue), 0%, 0%);
    --on-error: hsl(var(--hue), 0%, 0%);
    --on-surface-muted: hsla(var(--hue), 100%, 100%, .6);
    --box-shadow: 0 0 .25rem rgba(0, 0, 0, .38);

    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 4rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

:focus:not(:focus-visible) {
    outline: none;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

[hidden] {
    display: none !important;
}

img,
video {
    max-width: 100%;
    max-height: 100%;
}

header {
    background-color: var(--background);
    padding: .5rem 0;
    box-shadow: var(--box-shadow);
    border-bottom: 1px solid var(--surface-0);
    position: sticky;
    top: 0;
    z-index: 1;
}

@media screen and (max-width: 414px) {
    header {
        position: fixed;
        top: initial;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid var(--surface-0);
        border-bottom: none;
    }

    body {
        padding-bottom: 8rem;
    }
}

main {
    margin-bottom: 4rem;
}

footer {
    padding-top: 4rem;
    border-top: 1px solid var(--surface-0);
}

header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header nav > * + * {
    margin-left: .5rem;
}

main:empty {
    text-align: center;
    padding: 1.5rem;
    animation: pop 150ms linear;
}

main:empty::after {
    content: "Loading... please wait.";
}

@keyframes pop {
    0%, 99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

time {
    font-size: .875rem;
    color: var(--on-surface-muted);
}

a {
    color: var(--primary);
}

header a {
    color: inherit;
    text-decoration: none;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    -webkit-tap-highlight-color: transparent;
}

header a:hover {
    background-color: var(--surface-1);
}

header a:active {
    background-color: var(--surface-2);
}

button {
    background-color: var(--surface-0);
    color: var(--on-surface);
    font: inherit;
    height: 3rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 1.5rem;
    display: inline-flex;
    align-items: center;
    touch-action: manipulation;
    user-select: none;
}

button > * + * {
    margin-left: .5rem;
}

button:hover {
    background-color: var(--surface-1);
}

button:active {
    background-color: var(--surface-2);
}

button.small {
    height: 2rem;
    padding: 0 1rem;
    border-radius: 1rem;
}

input {
    background-color: var(--surface-0);
    color: var(--on-surface);
    height: 3rem;
    padding: 0 1.5rem;
    border: none;
    border-radius: 1.5rem;
}

input::placeholder {
    color: var(--on-surface);
    opacity: .6;
}

input:hover {
    background-color: var(--surface-1);
}

input:focus {
    outline: none;
    background-color: var(--surface-2);
}

textarea {
    display: block;
    background-color: var(--surface-0);
    color: var(--on-surface);
    width: 100%;
    height: 3rem;
    min-height: 3rem;
    max-height: 100vh;
    padding: .875rem 1.5rem;
    border: none;
    border-radius: 1.5rem;
    font: inherit;
    resize: vertical;
}

textarea::placeholder {
    color: var(--on-surface);
    opacity: .6;
}

textarea:hover {
    background-color: var(--surface-1)
}

textarea:focus {
    outline: none;
    background-color: var(--surface-2)
}

.container {
    margin: 0 auto;
    max-width: 65ch;
    width: 100%;
    padding: 0 1rem;
}

.icon {
    fill: var(--on-surface);
    width: 1.25rem;
    height: 1.25rem;
}

header a:not([aria-current=page]) .icon {
    fill: var(--on-surface-muted);
}

header .profile-link {
    padding: 0;
    margin-left: auto;
}

[role=feed] article + article {
    margin-top: .5rem;
    border-top: 1px solid var(--surface-0);
}

.login-form {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: .5rem;
}

.login-form button {
    justify-self: start;
}

@media screen and (max-width: 414px) {
    .login-form {
        grid-template-columns: auto;
    }
}

.avatar {
    --size: 3rem;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
}

.avatar[data-initial] {
    background-color: var(--secondary);
    color: var(--on-secondary);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.avatar[data-initial]::after {
    content: attr(data-initial);
}

.micro-post {
    padding: 1.5rem 0;
}

.micro-post-header,
.micro-post-user,
.micro-post-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.micro-post-header > * + *,
.micro-post-user > * + *,
.micro-post-controls > * + *,
.micro-post-controls a > * + * {
    margin-left: .5rem;
}

.micro-post-ts {
    margin-left: auto;
    align-self: flex-start;
}

.micro-post-header a,
.micro-post-controls a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.micro-post-controls a {
    height: 3rem;
    padding: 0 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.micro-post-controls a:hover {
    background-color: var(--surface-1);
}

.micro-post-controls a:active {
    background-color: var(--surface-2);
}

.micro-post-content p {
    white-space: pre-line;
}

.post-form,
.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-form {
    margin-bottom: .5rem;
}

.comment-form {
    margin-top: .5rem;
}

.post-form-button,
.comment-form-button {
    margin-top: .5rem;
    margin-left: auto;
}

.post-wrapper {
    background-color: var(--surface-0);
    margin-bottom: .5rem;
}

.user-wrapper {
    background-color: var(--surface-0);
    margin-bottom: 4.5rem;
}

.user-wrapper .user-profile {
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.user-wrapper .avatar {
    --size: 8rem;
    font-size: 2.5rem;
    position: absolute;
    left: 0;
    top: calc(100% - 4rem);
    border: .1875rem solid var(--background);
}

.user-username {
    margin-left: .5rem;
}

.user-wrapper .user-username {
    margin-left: 0;
}

.user-profile {
    padding: 1.5rem 0;
}

.user-profile h1 {
    display: inline;
}

.user-profile button {
    background-color: var(--surface-1);
}

.user-profile button:hover {
    background-color: var(--surface-2);
}

.user-profile button:active {
    background-color: var(--surface-3);
}

.user-stats {
    margin-top: .5rem;
    margin-bottom: 0;
}

.user-wrapper .user-stats {
    margin-bottom: 4rem;
}

.user-wrapper .user-controls {
    position: absolute;
    right: 0;
    bottom: 0;
}

.user-profile a {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

.user-stats > * + * {
    margin-left: .5rem;
}

@media screen and (max-width: 414px) {
    .users-wrapper .user-stats a {
        display: block;
        margin-left: 0;
    }
}

.badge {
    background-color: var(--primary);
    color: var(--on-primary);
    font-size: .875rem;
    border-radius: .25rem;
    padding: .1rem .25rem;
    box-shadow: var(--box-shadow);
}

.user-profile .badge {
    margin-left: .5rem;
}

.user-wrapper .badge {
    vertical-align: text-top;
}

.label {
    color: var(--on-surface-muted);
}

.user-controls {
    float: right;
    margin-bottom: 1.5rem;
}

.load-more-button {
    display: flex;
    margin: .5rem auto;
}

.queue-button {
    position: fixed;
    background-color: var(--surface-1);
    box-shadow: var(--box-shadow);
    left: 50%;
    transform: translateX(-50%);
    will-change: opacity transform;
}

.queue-button:hover {
    background-color: var(--surface-2);
}

.queue-button:active {
    background-color: var(--surface-3);
}

.posts-wrapper .queue-button {
    top: 4.5rem;
    animation: slide-middle-offset-down .2s ease-out;
}

.comments-wrapper .queue-button {
    bottom: .5rem;
    animation: slide-middle-offset-up .2s ease-out;
    z-index: 3;
}

@keyframes slide-middle-offset-down {
    from {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes slide-middle-offset-up {
    from {
        opacity: 0;
        transform: translate(-50%, 100%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

.like-button[aria-pressed=true] .icon {
    fill: var(--error);
}

.search-form {
    margin-bottom: .5rem;
}

.search-form input {
    width: 100%;
}

[role=feed]:empty {
    padding: 1.5rem 0;
    text-align: center;
}

[role=feed]:empty::after {
    content: "0 items yet.";
}

.posts-wrapper [role=feed]:empty::after {
    content: "No posts yet.";
}

.comments-wrapper [role=feed]:empty::after {
    content: "No comments yet.";
}

.search-results-wrapper [role=feed]:empty::after {
    content: "0 results.";
}

.followers-wrapper [role=feed]:empty::after {
    content: "0 followers.";
}

.followees-wrapper [role=feed]:empty::after {
    content: "0 followees.";
}

.likes-count-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    padding: 0 1.5rem;
}

.likes-count-wrapper > * + * {
    margin-left: .5rem;
}

.notification.read {
    opacity: .6;
    text-decoration: line-through;
}

.notifications-link.has-unread-notifications {
    position: relative;
}

.notifications-link.has-unread-notifications::after {
    content: "";
    display: block;
    position: absolute;
    top: .5rem;
    right: 1rem;
    background-color: var(--primary);
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
}

.micro-post-content {
    padding: 1rem 0;
}

.micro-post-content > * {
    display: block;
    margin: 0;
}

.micro-post-content > * + * {
    margin-top: 1rem;
}

.micro-post-content img,
.micro-post-content video {
    border-radius: .5rem;
}

.youtube-video-wrapper {
    position: relative;
}

.youtube-video-wrapper img {
    width: 100%;
    height: auto;
}

.youtube-video-wrapper::after {
    content: "";
    background-image: url("/img/youtube-2017.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

button[role=switch] {
    transition: background-color 200ms linear;
    height: 1.25rem;
    padding: 0 0.75em;
}

button[role=switch] span {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: transform 200ms cubic-bezier(0.34, 1.56, 0.64, 1);
    background-color: var(--on-background);
}

button[role=switch][aria-checked=false] {
    background-color: var(--surface-3);
}

button[role=switch][aria-checked=false] span {
    transform: translateX(-50%);
}

button[role=switch][aria-checked=true] {
    background-color: var(--primary);
}

button[role=switch][aria-checked=true] span {
    transform: translateX(50%);
}

.notifications-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notifications-enabler {
    display: flex;
    gap: 1rem;
}

.login-info {
    padding: 3rem 0;
}

.login-info em {
    color: var(--error);
}

.error-message > *{
    display: inline;
}

.error {
    color: var(--error);
}

.error-help {
    margin-top: 4rem;
    border: 1px solid var(--surface-0);
    padding: 1.5rem;
    border-radius: 1rem;
}

.error-help em {
    display: block;
    margin-bottom: 1rem;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--surface-3);
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    margin-top: -1.5rem;
}

.textcomplete-item {
    padding: 0 1rem;
    line-height: 2rem;
}

.textcomplete-item + .textcomplete-item {
    border-top: 1px solid var(--background);
}

.textcomplete-item.active {
    background-color: var(--primary);
    color: var(--on-primary);
}

.textcomplete-header,
.textcomplete-footer {
    display: none;
}

.monospace {
    font-family: monospace;
}

.login-callback-page h1 {
    margin-bottom: 0;
}

.login-callback-page .error-wrapper {
    margin: 2rem 0;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.error-actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    gap: .5rem;
}
