<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{if .UpdateEmail}}Update Email in Nakama{{else}}Login to Nakama{{end}}</title>
    <link rel="shortcut icon" href="data:,">
</head>
<body>
    <h1 style="font-family: sans-serif;">Nakama</h1>
    
    <p style="font-family: sans-serif;">Click the link down below to {{if .UpdateEmail}}update your email address at{{else}}login to{{end}} <a href="{{ .Origin }}" target="_blank" rel="noopener noreferrer" style="font-family: sans-serif;">{{ .Origin.Hostname }}</a>.</p>
    <a href="{{ .MagicLink }}" target="_blank" rel="noopener noreferrer" style="font-family: sans-serif; display: inline-block; height: 48px; line-height: 48px; padding: 0 24px; background-color: whitesmoke; border-radius: 24px;">{{if .UpdateEmail}}Update Email{{else}}Login{{end}}</a>
    <p>
        <em style="font-family: sans-serif;">It expires in {{ human_duration .TTL }} and can only be used once.</em>
    </p>
</body>
</html>
