name: Go Code Check

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.38.0
        # skip-go-installation: true

    - name: Test
      run: go test ./... -race -count 1
